<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!--========== BOX ICONS ==========-->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <!--========== CSS ==========-->
    <link rel="stylesheet" href="css/home.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Nastaliq+Urdu:wght@700&display=swap"
      rel="stylesheet"
    />

    <link
      rel="shortcut icon"
      href="image/bx-store.svg"
      class="bx bx-cart"
      type="image/x-icon"
    />
    <title>UtilityStore</title>
  </head>
  <Style> .tp{ min-height: 66vh; } </Style>
  <body>
    <!--========== HEADER ==========-->
    <header class="header">
      <div class="header__container">
        <img src="image/pakistan.jpg" alt="" class="header__img" />

        <a href="#" class="header__logo">
          <img src="image/us.jpeg" class="mylogo" alt=""
        /></a>

        <div class="header__logo urdu">معیاری اشیا‍‌ء ۔۔۔۔۔۔۔ مناسب دام</div>

        <div class="header__toggle">
          <i class="bx bx-menu" id="header-toggle"></i>
        </div>
      </div>
    </header>

    <!--========== NAV ==========-->
    <div class="nav" id="navbar">
      <nav class="nav__container">
        <div>
          <a href="/home" class="nav__link nav__logo">
            <i class="bx bx-cart nav__icon active"></i>
            <span class="nav__logo-name active">Utility Store</span>
          </a>

          <div class="nav__list">
            <div class="nav__items">
              <h3 class="nav__subtitle">Functionalities</h3>

              <a href="/home" class="nav__link">
                <i class="bx bx-home nav__icon"></i>
                <span class="nav__name">DashBoard</span>
              </a>
              <a href="/customer" class="nav__link">
                <i class="bx bx-user nav__icon"></i>
                <span class="nav__name">Customer Registration</span>
              </a>
              <a href="/product" class="nav__link">
                <i class="bx bx-store nav__icon"></i>
                <span class="nav__name">Product Management</span>
              </a>
              <a href="/pos" class="nav__link">
                <i class="bx bx-box nav__icon"></i>
                <span class="nav__name">POS</span>
              </a>
              <a href="/order" class="nav__link">
                <i class="bx bx-receipt nav__icon"></i>
                <span class="nav__name">Orders Details</span>
              </a>
              <a href="/sales" class="nav__link">
                <i class="bx bx-table nav__icon"></i>
                <span class="nav__name">Sales Info</span>
              </a>
              <a href="/stock" class="nav__link">
                <i class="bx bx-package nav__icon"></i>
                <span class="nav__name">Stock Management</span>
              </a>
              <a href="/customerdetails" class="nav__link">
                <i class="bx bx-user-pin nav__icon"></i>
                <span class="nav__name">Customer Details</span>
              </a>
            </div>
          </div>
        </div>

        <a href="/" class="nav__link nav__logout">
          <i class="bx bx-log-out nav__icon"></i>
          <span class="nav__name">Log Out</span>
        </a>
      </nav>
    </div>

    <!--========== CONTENTS ==========-->
    <main class="tp">
      <div class="input-fields">
        <div class="input-group mb-3">
          <span class="input-group-text" id="inputGroup-sizing-default"
            >CNIC</span
          >
          <input
            type="text"
            class="form-control cnic"
            aria-label="Sizing example input"
            aria-describedby="inputGroup-sizing-default"
            placeholder="Enter CNIC"
          />
          <button class="btn btn-success cnic-js">Add CNIC</button>
        </div>
        <div class="input-group mb-3">
          <span class="input-group-text">PRODUCT ID/NAME</span>
          <input
            type="text"
            class="form-control product"
            aria-label="Sizing example input"
            aria-describedby="inputGroup-sizing-default"
            placeholder="Enter Product ID or Name"
          />
          <button class="btn btn-success product-js">Add Product</button>
        </div>
        <!-- <div class="input-group mb-3">
          <span class="input-group-text"> QUANTITY</span>
          <input
            type="text"
            class="form-control quantity"
            aria-label="Sizing example input"
            aria-describedby="inputGroup-sizing-default"
          />
        </div> -->
      </div>
      <table class="table table-striped tb">
        <thead>
          <tr>
            <th scope="col">Product Id</th>
            <th scope="col">Product Name</th>
            <th scope="col">Quantity</th>
            <th scope="col">Sales Tax</th>
            <th scope="col">Unit Price</th>
            <th scope="col">Remove</th>
          </tr>
        </thead>
        <tbody class="table-data"></tbody>
      </table>
    </main>

    <div class="pay">
      <div class="pay-inside">
        <div class="total">
          Total Tax: <span class="price tax-js">Rs 0</span>
        </div>
        <div class="total">
          Total Price <span class="price total-js">Rs 0</span>
        </div>
        <button class="btn btn-success paynow-js">Pay Now</button>
      </div>
    </div>

    <!--========== MAIN JS ==========-->
    <script src="assets/js/main.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

    <script>
      //////STARTING VARIABLES
      let products = [];
      $(".quantity").val(1);
      /////////
      function removeItem(index) {
        products.splice(index, 1);
        renderTableRow(products);
      }
      ///////RENDER TABLE FUNCTION FOR REDERING DATA
      function renderTableRow(data) {
        $(".table-data").empty();
        let tax = 0,
          total = 0;

        for (var i = 0; i < data.length; i++) {
          tax += data[i].SALESTAX * data[i].QUANTITY;
          total += data[i].UNITPRICE * data[i].QUANTITY;
          var row = "<tr>";
          row += "<td>" + data[i].PRODUCTID + "</td>";
          row += "<td>" + data[i].PRODUCTNAME + "</td>";
          row += "<td>" + data[i].QUANTITY + "</td>";
          row += "<td>" + data[i].SALESTAX + "</td>";
          row += "<td>" + data[i].UNITPRICE + "</td>";
          row += `<td><button onclick="removeItem(${i})"  class="cross">X</button></td>`;
          row += "</tr>";

          // Append the row to the table body
          $(".table-data").append(row);
        }
        $(".tax-js").text(`Rs ${tax.toFixed(2)}`);
        $(".total-js").text(`Rs ${total.toFixed(2)}`);
      }
      ///////////GETTING DELETE BUTTON

      ////////////////VALIDATING PRODUCT

      $(".product-js").click(function () {
        if ($(".cnic").val()) {
          var audio = new Audio("sound/barcode.mp3");
          audio.play();
          const product = $(".product").val().toUpperCase();

          const existingProduct = products.find(
            (p) => p.PRODUCTID === product
            //  || p.PRODUCTNAME === product
          );
          const quantity = existingProduct ? existingProduct.QUANTITY : 0;

          const requestData = {
            cnic: $(".cnic").val(),
            product: $(".product").val(),
            quantity,
          };

          $.ajax({
            url: "http://localhost:80/productvalidation",
            method: "POST",
            contentType: "application/json",
            data: JSON.stringify(requestData),
            success: function (response) {
              if (response.message) {
                alert(response.message);
              } else {
                const existingProduct = products.find(
                  (p) => p.PRODUCTID === response.product.PRODUCTID
                );

                if (existingProduct) {
                  const index = products.indexOf(existingProduct);
                  products[index].QUANTITY += 1;
                  renderTableRow(products);
                } else {
                  products.push(response.product);
                  renderTableRow(products);
                }
              }
            },
            error: function (xhr, status, error) {
              console.error("Error:", error);
            },
          });
        } else {
          alert("Enter CNIC First");
        }
      });

      /////////GETTIGN SALEID BY CNIC FOR DATABASE
      $(".cnic-js").click(function () {
        let cnic = $(".cnic").val();
        if (cnic) {
          $.ajax({
            url: "http://localhost:80/pos",
            method: "POST",
            data: { cnic },
            dataType: "json",
            success: function (response) {
              if (response.message === "success") {
                $(".cnic-js").prop("disabled", true);
                $(".cnic").prop("disabled", true);
              }
              console.log("Response:", response);
            },
            error: function (xhr, status, error) {
              alert("No customer Found");
              console.error("Error:", error);
            },
          });
        }
      });

      ////////PAYING BILL PRODUCTS
      $(".paynow-js").click(function () {
        if ($(".cnic").val()) {
          $.ajax({
            url: "http://localhost/posdetails",
            method: "POST",
            contentType: "application/json",
            data: JSON.stringify({ products: products }),
            success: function (response) {
              console.log("POST request successful:", response);
              if (response.message === "success") {
                alert("Purchased Succefull");
                location.reload();
              } else {
                alert(`${response.message}`);
              }
              // Handle the response as needed
            },
            error: function (xhr, status, error) {
              console.error("Error:", error);
              // Handle errors, if any
            },
          });
        } else {
          alert("Enter CNIC First");
        }
      });
    </script>
  </body>
</html>
